/* Variables */

:root {
    --background: #ecfdf5;
}

:root.theme-switch {
    --background: #1f2937;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f2937;
    }

    :root.theme-switch {
        --background: #ecfdf5;
    }
}

body {
    background-color: var(--background);
}
